services:
  web:
    build:
      context: .
    image: '${APP_IMAGE:-localhost/softepigen:latest}'
    ports:
      - '127.0.0.1:${PORT:-18000}:8080'
    volumes:
      - ./.env:/var/www/html/.env:Z
      - ./storage:/var/www/html/storage:Z
      - ./database:/var/www/html/database:Z
    restart: unless-stopped

  queue:
    image: '${APP_IMAGE:-localhost/softepigen:latest}'
    command:
      ['php', 'artisan', 'queue:work', '--sleep=3', '--tries=3', '--timeout=90']
    volumes:
      - ./.env:/var/www/html/.env:Z
      - ./storage:/var/www/html/storage:Z
      - ./database:/var/www/html/database:Z
    restart: unless-stopped

  schedule:
    image: '${APP_IMAGE:-localhost/softepigen:latest}'
    command: ['php', 'artisan', 'schedule:work']
    volumes:
      - ./.env:/var/www/html/.env:Z
      - ./storage:/var/www/html/storage:Z
      - ./database:/var/www/html/database:Z
    restart: unless-stopped
