<div class="bg-white rounded-xl border border-stone-200 p-6">
  <h2 class="mb-6 text-2xl font-semibold">Upload FASTA File</h2>

  <form
    id="upload-form"
    action="/upload"
    method="post"
    enctype="multipart/form-data"
    class="space-y-4"
  >
    <div
      class="border-2 border-dashed border-gray-300 rounded-lg p-6 text-center hover:border-gray-400 transition-colors duration-200"
    >
      <input
        type="file"
        name="fasta"
        accept=".fasta,.fa,.fas,.txt"
        class="block w-full text-center file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:font-semibold file:bg-blue-500 file:text-white hover:file:bg-blue-600 transition-colors duration-200"
        required
      />
      <p class="mt-2 text-sm text-gray-500">
        Supported formats: .fasta, .fa, .fas, .txt
      </p>
    </div>

    <div class="grid grid-cols-3 gap-x-5 gap-y-2 text-sm text-gray-700">
      <div>
        <label for="amplicon_size_min">Amplicon size:</label>
        <input
          type="number"
          name="amplicon_size_min"
          value="100"
          min="1"
          class="w-16 border border-gray-300 rounded px-2 py-1"
          required
        />
        &ndash;
        <input
          type="number"
          name="amplicon_size_max"
          value="150"
          min="1"
          class="w-16 border border-gray-300 rounded px-2 py-1"
          required
        />
      </div>
      <div>
        <label for="primer_size_min">Primer size:</label>
        <input
          type="number"
          name="primer_size_min"
          value="15"
          min="1"
          class="w-16 border border-gray-300 rounded px-2 py-1"
          required
        />
        &ndash;
        <input
          type="number"
          name="primer_size_max"
          value="25"
          min="1"
          class="w-16 border border-gray-300 rounded px-2 py-1"
          required
        />
      </div>
      <div>
        <label for="cpg_min">Number of CpG:</label>
        <input
          type="number"
          name="cpg_min"
          value="3"
          min="1"
          class="w-16 border border-gray-300 rounded px-2 py-1"
          required
        />
        &ndash;
        <input
          type="number"
          name="cpg_max"
          value="40"
          min="1"
          class="w-16 border border-gray-300 rounded px-2 py-1"
          required
        />
      </div>
      <div class="col-span-3">
        <input type="checkbox" id="astringent" name="astringent" />
        <label for="astringent">
          Use astringency for complexity analysis
        </label>
      </div>
    </div>
    <button
      id="submit-button"
      type="submit"
      class="w-full bg-blue-500 text-white font-semibold py-3 px-6 rounded-lg transition-colors duration-200 shadow-md hover:bg-blue-600 disabled:opacity-70 disabled:cursor-not-allowed disabled:bg-blue-500"
    >
      <span>Analyze</span>
      <span class="hidden flex justify-center items-center gap-2 loading">
        <svg
          class="size-5 animate-spin text-white"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
        This may take a while...
      </span>
    </button>
    <p class="text-sm text-gray-400 text-center">
      A BED file will be downloaded once the processing finishes. Please be
      patient.
    </p>
  </form>
</div>

<script src="/js/form.js" defer></script>
